In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
 import nltk

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import pandas as pd

In [ ]:
fake = pd.read_csv("/content/Fake-210604-161841.csv")
genuine = pd.read_csv("/content/True-210604-161650.csv")

In [ ]:
display(fake.info())
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [ ]:
display(fake.head())
display(genuine.head())

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [ ]:
display(fake.subject.value_counts())
print('\n')
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [ ]:
fake['target']=0
genuine['target']=1

In [ ]:
display(fake.head())

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0

[5 rows x 5 columns]

In [ ]:
display(genuine.head())

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1

[5 rows x 5 columns]

In [ ]:
data=pd.concat([fake, genuine], axis=0)

In [ ]:
data = data.reset_index(drop=True)

In [ ]:
data = data.drop(['subject','date','title'], axis=1)

In [ ]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      [d, o, n, a, l, d,  , t, r, u, m, p,  , j, u, ...       0
1      [h, o, u, s, e,  , i, n, t, e, l, l, i, g, e, ...       0
2      [o, n,  , f, r, i, d, a, y, ,,  , i, t,  , w, ...       0
3      [o, n,  , c, h, r, i, s, t, m, a, s,  , d, a, ...       0
4      [p, o, p, e,  , f, r, a, n, c, i, s,  , u, s, ...       0
...                                                  ...     ...
44893  [b, r, u, s, s, e, l, s,  , (, r, e, u, t, e, ...       1
44894  [l, o, n, d, o, n,  , (, r, e, u, t, e, r, s, ...       1
44895  [m, i, n, s, k,  , (, r, e, u, t, e, r, s, ), ...       1
44896  [m, o, s, c, o, w,  , (, r, e, u, t, e, r, s, ...       1
44897  [j, a, k, a, r, t, a,  , (, r, e, u, t, e, r, ...       1

[44898 rows x 2 columns]

TOKENIZATION

In [ ]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [ ]:
print(data.head(10))

STEMMING

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords =  False)

In [ ]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [ ]:
data['text']=data['text'].apply(stem_it)

In [ ]:
print(data.head(10))

STOPWORD REMOVAL

In [ ]:
#import nltk
#from nltk.corpus import stopwords
#nltk.download('stopwords')
#print(stopwords.words('enlgish'))

In [ ]:
def stop_it(t):
  dt= [word for word in t if len(word)>2]
  return dt

In [ ]:
data['text']= data['text'].apply(stop_it)

In [ ]:
print(data['text'].head(10))

In [ ]:
data['text']=data['text'].apply(' '.join)

SPLITTING UP DATA

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'],data['target'],test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

38016    []
32819    []
7479     []
33946    []
11953    []
Name: text, dtype: object

38016    1
32819    1
7479     0
33946    1
11953    0
Name: target, dtype: int64

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer( max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

AttributeError: ignored

In [ ]:
print(tfidf_train)

LOGISTIC REGRESSION

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test) 
cr1 =  accuracy_score(y_test, pred_1)
print(cr1*100)

NameError: ignored

PASSIVE AGRESSIVE CLASSIFIER

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

NameError: ignored

In [ ]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)